---
import { getStaticPathsFromLocales as getStaticPaths } from '@utils/translation';

export { getStaticPaths };

const { t } = Astro.locals;

import { PROJECT_NAME } from '@utils/constants';

import Layout from '@layouts/Layout.astro';

import Description from '@components/Description.astro';
import Objectives from '@components/Objectives.astro';
import Partners from '@components/Partners.astro';
import Documents from '@components/Documents.astro';
import Contact from '@components/Contact.astro';
---

<Layout title={PROJECT_NAME}>
	<section id="description">
		<Description />
	</section>
	<section id={t('nav_objectives').toLowerCase()}>
		<Objectives />
	</section>
	<section id={t('nav_partners').toLowerCase()}>
		<h2>{t('nav_partners')}</h2>
		<p>{t('partners_subtitle')}</p>
		<Partners />
	</section>
	<section id={t('nav_contact').toLowerCase()}>
		<Contact />
	</section>
	<section id={t('nav_resources').toLowerCase()}>
		<h2>{t('nav_resources')}</h2>
		<p>{t('resources_subtitle')}</p>
		<Documents />
	</section>
</Layout>
<style>
	{/* Only for subtitles in sections that have one as a direct child */}
	section > p {
		font-size: 1.2rem;
		color: var(--color-text);
		margin-bottom: 1.5rem;
		text-align: center;
	}

	/* Add some padding to sections on larger screens */
	@media (min-width: 768px) {
		section {
			padding: 2rem;
		}
	}
</style>