---
import { getStaticPathsFromLocales as getStaticPaths } from '@utils/translation';

export { getStaticPaths };

const { t } = Astro.locals;

import Layout from '@layouts/Layout.astro';

import Description from '@components/Description.astro';
import Objectives from '@components/Objectives.astro';
import Organisers from '@components/Organisers.astro';
import Documents from '@components/Documents.astro';
import Contact from '@components/Contact.astro';
---

<Layout title={'AI-ASSISTANTS 4PIDS'}>
	<section id="description">
		<Description />
	</section>
	<section id="objectives">
		<Objectives />
	</section>
	<section id="organisers">
		<h2>{t('nav_organisers')}</h2>
		<p>{t('organisers_subtitle')}</p>
		<Organisers />
	</section>
	<section id="contact">
		<Contact />
	</section>
	<section id="resources">
		<h2>{t('nav_resources')}</h2>
		<p>{t('resources_subtitle')}</p>
		<Documents />
	</section>
</Layout>
<style>
	{/* Only for subtitles in organisers and resources sections */}
	section#organisers > p,
	section#resources > p {
		font-size: 1.2rem;
		color: var(--color-text);
		margin-bottom: 1.5rem;
		text-align: center;
	}

	/* Add some padding to sections on larger screens */
	@media (min-width: 768px) {
		section {
			padding: 2rem;
		}
	}
</style>