---
import { getStaticPathsFromLocales as getStaticPaths } from '@utils/translation';

export { getStaticPaths };

const { t } = Astro.locals;

import Layout from '@layouts/Layout.astro';

import Description from '@components/Description.astro';
import Objectives from '@components/Objectives.astro';
import Organisers from '@components/Organisers.astro';
import Documents from '@components/Documents.astro';
---

<Layout title={'AI-ASSISTANTS 4PIDS'}>
	<Description />
	<Objectives />
	<section id="organisers">
		<h2>Organisers</h2>
		<p>Entities involved in this project</p>
		<Organisers />
	</section>
	<section id="resources">
		<h2>Resources</h2>
		<p>Downloadable documents related to the project</p>
		<Documents />
	</section>
</Layout>
<style>
	section {
		display: flex;
		flex-direction: column;
		align-items: center;	
		justify-content: center;
		text-align: center;
		padding: 2rem;
	}
	section > p {
		font-size: 1.2rem;
		color: var(--color-text);
		margin-bottom: 1.5rem;
	}
</style>