---
import Card from "@components/Card.astro";
import Cards from "@components/Cards.astro";
---

<section id="description">
  <Cards title="About AI-ASSISTANTS">
    <Card>
      The <b>AI-ASSISTANTS</b> project is dedicated to empowering <b>People with Intellectual Disabilities (PID)</b> through the strategic use of <b>AI-assisted solutions</b>.
    </Card>
    <Card>
      Our <b>mission</b> is to bridge the digital divide, fostering <b>independent living</b> by transforming how <b>PID</b> interact with and control emerging technologies.
    </Card>
  </Cards>
</section>