---
import Card from "@components/Card.astro";
import Cards from "@components/Cards.astro";

const { t } = Astro.locals;
---

<section id="description">
  <Cards title={t('description_title')}>
    <Card set:html={t('description_text', true)} />      
    <Card set:html={t('description_mission', true)} />
  </Cards>
</section>