---
import Card from "@components/Card.astro";
import Cards from "@components/Cards.astro";

import { getFormatter } from '@utils/translation';
import type { Lang } from '@utils/translation';

const { lang } = Astro.params;

// Get the translator function for this specific language
const t = getFormatter(lang as Lang);
---

<section id="description">
  <Cards title={t('description_title')}>
    <Card set:html={t('description_text', true)} />      
    <Card>
      Our <b>mission</b> is to bridge the digital divide, fostering <b>independent living</b> by transforming how <b>PID</b> interact with and control emerging technologies.
    </Card>
  </Cards>
</section>