---
import { Image } from 'astro:assets';
import euLogo from '@assets/images/EN_Co-fundedbytheEU_RGB_NEG.svg';

interface Props {
  showDisclaimer?: boolean;
  [key: string]: any;
}

const { t } = Astro.locals;

const { showDisclaimer = false, ...attributes } = Astro.props;
---
<Image {...attributes} src={euLogo} alt={t('alt_eu_cofunded')} height="60" />

{
/* Disclaimer text required by EU funding guidelines */ 
/* https://www.eacea.ec.europa.eu/grants/visual-identity/visual-identity-programming-period-2021-2027/european-flag-emblem-and-multilingual-disclaimer_en#ref-2-disclaimer-to-use-in-all-communication-materials*/
/* (We control it with a flag so that we only show it in the footer, not the header) */
}
{showDisclaimer && (
  <p class="eu-disclaimer">
    {t('eu_disclaimer')}
  </p>
)}