---
import { Image } from 'astro:assets';

const { t, locale } = Astro.locals;

// Get the logo from the current locale (the file starts with the locale code in uppercase, e.g. "EN_")
// (Note: our "locale" from Astro.locals already falls back to the default locale)
const euLogo = (await import(`../assets/images/eu/${locale.toUpperCase()}_Co-fundedbytheEU_RGB_NEG.svg`)).default;

interface Props {
  showDisclaimer?: boolean;
  [key: string]: any;
}

const { showDisclaimer = false, ...attributes } = Astro.props;
---
<Image {...attributes} src={euLogo} alt={t('alt_eu_cofunded')} height="60" />

{
/* Disclaimer text required by EU funding guidelines */ 
/* https://www.eacea.ec.europa.eu/grants/visual-identity/visual-identity-programming-period-2021-2027/european-flag-emblem-and-multilingual-disclaimer_en#ref-2-disclaimer-to-use-in-all-communication-materials*/
/* (We control it with a flag so that we only show it in the footer, not the header) */
}
{showDisclaimer && (
  <p class="eu-disclaimer">
    {t('eu_disclaimer')}
  </p>
)}