---
import EuLogo from "@components/EuLogo.astro";
---

<footer>
    <div class="eu-logo-wrapper">
        <EuLogo showDisclaimer={true} />
    </div>
</footer>
<style>
    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        background-color: var(--color-secondary);
        color: var(--color-text-on-secondary);
    }
    .eu-logo-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        max-width: 50vw;
        gap: 0.5rem;
    }
</style>
