---
import ProjectTitle from './ProjectTitle.astro';
---
<header>
    <a href="/">
        <ProjectTitle includeLogo={true} includeSubtitle={true} style="font-size: 23.5px" />
    </a>
</header>
<style>
    header {
        display: flex;
        /* justify-content: center; */
        align-items: center;
        padding: 1rem;
        background-color: var(--color-dark-blue);
    }
</style>
