---
import Card from "@components/Card.astro";
import Cards from "@components/Cards.astro";

const { t } = Astro.locals;
---

<section id="objectives">
  <Cards title={t('objectives_title')} columns={2}>
    <Card title={t('objective_literacy_title')}>
      {t('objective_literacy_text')}
    </Card>
    <Card title={t('objective_living_title')}>
      {t('objective_living_text')}
    </Card>
    <Card title={t('objective_resources_title')}>
      {t('objective_resources_text')}
    </Card>
    <Card title={t('objective_support_title')}>
      {t('objective_support_text')}
    </Card>
  </Cards>
</section>
