---
import Card from "@components/Card.astro";
import Cards from "@components/Cards.astro";
---

<section id="objectives">
  <Cards title="Project Objectives" columns={2}>
    <Card title="Digital Literacy">
      Facilitate the acquisition of AI literacy, enabling PID to understand, use, and critically reflect on AI applications.
    </Card>
    <Card title="Independent Living">
      Increase specific competencies to apply AI solutions in daily life for greater autonomy.
    </Card>
    <Card title="Tailored Resources">
      Develop novel training materials and tools specifically adapted to the unique needs of PID.
    </Card>
    <Card title="Support Empowerment">
      Enhance the skills and knowledge of professional and personal Supports in the field of AI assistance.
    </Card>
  </Cards>
</section>
