<a href="#main-content" class="skip-link sr-only">Skip to main content</a>
<style>
  /* This makes the skip link visible ONLY when it's focused via keyboard */
  .skip-link:focus {
    position: static;
    width: auto;
    height: auto;
    background: var(--color-dark-blue);
    color: white;
    padding: 1rem;
    z-index: 100;
  }
</style>