---
// Importing the Roboto font for consistent typography across the site
// Note: For optimization, we are only importing the specific weights and styles we need.
// If we ever need more weights or styles, we can easily add them here.

// NOTE: For accessibility, we should NOT use italics. So we should be fine with just regular and bold weights.

import '@fontsource/roboto/400.css'; // Regular weight
import '@fontsource/roboto/700.css'; // Bold weight

// Import global CSS here
import '@styles/global.css';
import '@styles/tooltips.css';

import { homeNoLocale } from '@utils/url.ts';
import { defaultLocale } from '@languages';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import SkipLink from '@components/SkipLink.astro';
import BackToTopButton from '@components/BackToTopButton.astro';

const locale = Astro.currentLocale || defaultLocale;

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang={locale}>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="AI-ASSISTANTS Project Website" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href={homeNoLocale('favicon.svg')} />
		<link rel="icon" sizes="any" href={homeNoLocale('favicon.ico')} />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body id="top">
		<SkipLink />
		<Header />
		<main id="main-content">
			<slot />
		</main>
		<Footer />
		<BackToTopButton />
	</body>
</html>
